<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Andrew Lohr">
		<meta name="description" content="A beta service that tells you when it's raining, NOW!">
		<title>NowRain</title>
		<link rel="shortcut icon" href="images/nowRainProfilePic.jpg">
		<link rel="stylesheet" href="stylesheets/style.css" />
	</head>
	<body>
	<div id="header">NowRain</div>
	<div class="container">
		<div class="info">Welcome to NowRain - the beta service that informs you when it starts to rain instantly!</div>
		<div class="info">NowRain tweets the second it starts raining and stops raining.</div>
		<div class="info">Durham, North Carolina is currently the only supported city.</div>
		<div class="info"><a href ="https://twitter.com/NowRain_Durham">Twitter</a></div>
	</div>
	</body>
</html>